/*
    Stylesheet for the Encyclodpedia Profile page
    Group: Imaginative-Levaillants-Barbet
    Authors: P. Franz && E. Osorio
    Date: June 2016
*/

/*  COLORS & SETTINGS
    Colors
    Purple: #915fb1;
    Purple Text: #9541ba
    Lt Purple text: #d1b3e9
    Light Purple: #d7cae6
    Gray background: #f5f5f5
    Gray text: #949494
    Button Pink: #db3eb1;
    Lt Pink: #ff83c3
    Twitter Blue: #55acee
    

*/

/*HTML Selectors*/
*{
    box-sizing: border-box;
    font-size: 62.5%;
}

html{
    font-family: 'Roboto', serif;
}

a:link{
    color: #d1b3e9;
    text-decoration: none;
}

a:visited{
    color: #d1b3e9;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color:#9541ba;
}

h3{
    font-size:2rem;
    font-weight: 300;
    line-height: 2rem;
}

h4{
    font-size: 1.0rem;
    line-height: 2rem;
    margin: 0; 
}

/*ID Selectors*/

#white-wrapper{
    width: 100%;
    text-align: center;  
    background-color: white;
}

#grey-wrapper{
    width: 100%;
    text-align: center;  
    background-color: #f5f5f5;
    padding: 2rem 0;
}

#header{
    display: inline-block;
    position: relative;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    margin: 0;
    width: 90%;
    margin: 0 auto;  
}

#header h4{
    margin-left: 0.3rem;
    line-height: 2.2rem;
}

/*CLASS Selectors*/
.circle-book{
    background-color: #8252a6;    
    border-radius: 50%;
    border: 0.4rem solid #d7cae6 ;  
    padding: 0.2rem 0.3rem;  
}

.gray-text{
    color:#949494;
}

.grey-background{
    background-color: #949494;
}

.large-sans-text{
  
    font-weight: 100;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.inline-list li{
    display: inline-block;
    padding: 0 0.4rem;
    font-size: 0.75rem;
}

.left{
    float: left;
}

.purple-text{
    color: #9541ba;
}

.right{
    float: right;
}

.lt-purple-text{
    color: #dfbef7;
}

.section-title{
    color: #db3eb1;
}



/*---WEB COMPONENTS---*/

/*Search Box*/
#search{
    padding: 0.5rem;
    padding-right: 4rem;
    font-size: 1rem;
    margin-top: 3px;
    border: 1px solid #8252a6;
    border-radius: 3%;
    color:#8252a6
}

::-moz-placeholder{
    color: #d7cae6;
}

::-webkit-input-placeholder{
    color: #d7cae6;
}

:-ms-input-placeholder{
    color: #d7cae6;
}

/*Image Carousel && Bio*/
#bio-image{
    width: 45%;
}

#cog-profile{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

#cog-items{
    display: flex;
}

.dot{
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 0 0.2rem;
}

.active{
    background-color: rgba(255, 255, 255, 0.9);
}

#bio-wrapper{
    display: flex;
    position: relative;
    text-align: left;
    padding: 10px 0 0 0;
    width: 90%;
    margin: 0 auto;    
    line-height: 2rem;
    color: white;
}

#bio{
    padding: 4rem 2rem;
    font-size: 0.85rem;
    background-image: url(../images/hero-bg_960.jpg);  
}

#bio ul{ 
    position: absolute; 
    bottom: 1rem;    
}



#bio li img{
    margin-right: 0.2rem;
}

#btn-follow{
    position: absolute;
    top: 1.3rem;
    right: 1rem;
}

#globe-pin{
    color: #ff83c3;
}

#twitter-link{
    color: #55acee;
}

/*Follow Button*/
.btn{
    background-color: #db3eb1;
    color: white;
    padding: 0.3rem 2rem;
    border-radius: 5%;
}

.btn:hover{
    background-color: #ff83c3;
}

.btn:active{
    background-color: #dfbef7;
}

/*Vertical Settings Menu*/

/*Noteworthy Block*/
#noteworthy-wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 3rem 1rem;
    background-color: white;
    width: 90%;
}

#noteworthy-items{
    display: flex;
}

.note-item{
    display: flex;
    position: relative;
    line-height: 1.5rem;
    text-align: left;
    margin: 2em 0;
    width: 50%;
}

.note-item>img{
    margin: 0 1em;
}

.note-show-more{
    position: absolute;
    top: 0.25rem;
    right: 0.5rem;
    font-size: 0.8rem;
    color: #949494;
}

.note-item h4{
    font-size: 1.2rem;
    font-weight: 400;
}

.note-item p{
    font-size: 0.9rem;
    color: #353535;
    min-height: 8rem;
}

/*Gratitude Circles*/


/* Testing purposes only */

.red{
    background-color: lightpink;
}