/*
    Stylesheet for the Encyclodpedia Profile page
    Group: Imaginative-Levaillants-Barbet
    Authors: P. Franz && E. Osorio
    Date: June 2016
*/

html{
    font-family: 'Open Sans', sans-serif;
}
